@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto&display=swap');

:root {
    --link: #E7AB79;
    --highlight: #B25068;
    --grey: #774360;
    --black: #4C3A51;
    --blackest: #1B2430;
}

body {
    padding: 0;
    margin: 0;
    background: var(--blackest);
    font-family: 'Ubuntu mono', sans-serif;
}

.Homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Homepage .GameList {
    display: flex;
    gap: 10px;
    flex-wrap: wrap-reverse;
    margin-left: 5vw;
    margin-right: 5vw;
    flex-basis: max-content;
    margin-top: 2em;
}

.Homepage .GameList .GameTile {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-style: dashed;
    padding-top: 5px;
    padding-bottom: 10px;
    border-color: var(--grey);

    background: var(--black);
}


.Homepage .GameList .FeaturedGameTile {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 20px;
    border-style: dashed;
    padding-top: 5px;
    padding-bottom: 10px;
    border-color: var(--link);

    width: 100%;
/* 
    border-left: 0;
    border-right: 0; */

    padding: 50px;

    background: var(--blackest);

    margin-top: 50px;
    margin-bottom: 50px;
}

.Homepage .GameList .FeaturedGameTile a{
    color: var(--link);
    text-decoration: none;

    font-size: 4em;
}


.Homepage .GameList .GameTile a{
    color: var(--link);
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

.Homepage .GameList .FeaturedGameTile img{
    width: 600px;
    max-width: 60vw;
    object-fit: cover;
}

.Homepage .GameList .FeaturedGameTile .FeaturedGameTileRightContainer {
    display: flex;

    color: var(--highlight);
    width: 40%;
    flex-direction: column;
    margin-left: 20px;
}


.Homepage .GameList .FeaturedGameTile .FeaturedGameTileRightContainer .DashedSeparator {
    width: 100%;

    max-width: 40vw;

    border-bottom: 3px dashed var(--link);

    margin-top: 10px;
    margin-bottom: 20px;
}
.Homepage .GameList .GameTile img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.Homepage .NavBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 95vw;
    padding-left: 5vw;
    padding-top: 5px;
    padding-bottom: 5px;

    background: var(--black);
}

.Homepage .NavBar .NavBarItem {
    color: var(--highlight);
    font-weight: 700;
    font-size: 1em;
}

.Homepage .NavBar .VerticalDivider {
    border-left: 2px dashed var(--highlight);
    height: 1.5em;
}